html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container { 
    width: 80%;
    margin: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col_"] {
    float: left;
    padding: 2em;   
}

img {
    height: 35em;
}