html {
    font-size: 100%;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container { 
    width: 70%;
    margin: auto;
    position: relative;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col_"] {
    float: left;
    padding: 0.8em;
    position: relative;
    width: calc(100% / 3.33);
}

img {
    width: 100%;
}

.brand {
    padding-top: 0.5em;
}

.product-name {
    margin: 0;
    text-transform: uppercase;
}

.red {
    margin: 0;
    color: red;
}

.thin {
    text-decoration-line: line-through;
    color: black;
    font-weight: 100;
}

.red_square {
    background-color: rgb(235,0,55);
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 0.3em;
    position: absolute;
    bottom: 103px;
    left: 13px;
}

.green_square {
    color: white;
    background-color: rgb(0,135,90);
    font-weight: bold;
    font-size: 12px;
    padding: 0.3em;
    position: absolute;
    bottom: 103px;
    left: 48px;
}

button {
    border: 0;
    background-color: white;
    position: absolute;
    top: 34px;
    right: 13px;
    padding: 0.5em;
    font-size: 1.5em;
}


.invisible {
    display: none;
}

[class*="col_"]:hover .invisible {
    display: block
}

[class*="col_"]:hover .visible {
    display: none
}

#foto6{
    color: white;
    background-color: rgb(0,135,90);
    font-weight: bold;
    font-size: 12px;
    padding: 0.3em;
    position: absolute;
    bottom: 118px;
    left: 13px;
}
}