html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container { 
    width: 70%;
    margin: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col_"] {
    float: left;
    padding: 0.8em;   
}

img {
    height: 35em;
}

.brand {
    padding-top: 0.5em;
}

.product-name {
    margin: 0;
    text-transform: uppercase;
}

.red {
    margin: 0;
    color: red;
}

.thin {
    text-decoration-line: line-through;
    color: black;
    font-weight: 100;
}